body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F7F7F7;
}
p, h6 {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #252525;
}
.no-deco {
	text-decoration: none !important;
}
.em-f {
	font-size: 1em;
}
.f-light {
	 font-weight:lighter;
}
.f-normal {
    font-weight: normal;
}
.c-raduis {
	    border-radius: 6px !important;
}
.card {
	border: 0;
}
.f-bold {
	 font-weight: 600;
}
.text-gray {
	color: #252525 !important;
}
.text-mgray {
	color:#252525 !important;
/*	color:#222 !important;*/
}
.text-mgray1 {
	color:#727272 !important;
}
.text-lgray {
	color: #DFDFDF;
}
.m-auto {
	margin: auto;
}
.accent {
	color: #2196F3 !important;
}
.e-dropdown {
	margin-top: 10px;
	width: 150px;
	text-align-last:center;
}
.deco-none {
	text-decoration: none;
}
.deco-none:hover {
	color: #366CA1;
	text-decoration: none;
}
.btn-accent {
	background: #2196F3;
	color: #fff;
}
.btn-accent:hover {
	background: #2185D5;
}
.text-gray {
	color: #555;
}
.text-blue {
	color: #2196F3;
}
.evaluate-l {
	color: #555;
	text-decoration: none;
}
.evaluate-l:hover {
	color: #333;
	text-decoration: none;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-light {
  box-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.1);
}
.Evaluate {
	height: 100vh;
	background-color: #f2f2f2;
	background-image: url('img/login_bg.png');
}
.l-center {
	margin: auto;
	padding-top: 10vh;
}
.evaluate-card {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 5px 30px 5px;
}
.Login {
	height: 100vh;
	background-image: url('../img/login_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}
.l-center2 {
	margin: auto;
	padding-top: 6vh;
}
.login-card {
	background: #fff;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 50px 40px 50px;
}
.BeStart {
	height: 100vh;
	width: 100%;
	background-color: #2196F3;
}
.sbefore-card {
	background: #fff;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 50px 40px 50px;
}
.Home {
	padding-top: 115px;
}
.t-btn {
	background: #DFDFDF;
	color: #fff !important;
}
.active-border {
	border-bottom: solid 1.5px #2185D5;
	padding: .5rem 1rem !important;
}
.btn-post {
	background: none;
	border: solid 1px #2196F3;
	color: #2196F3;
}
.btn-post:hover {
	background: #2196F3;
	border: solid 1px #2196F3;
	color: #fff;
}
.search-box {
	background: none;
}
.navbar-menu {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
/*  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;*/
  margin-bottom: 0px;
}

.navbar-menu > .item {
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.navbar-menu > .item::after {
  background-color: #2196F3;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  width: 100%;
}
.navbar-menu > .item > .link {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
}
.navbar-menu.-twitter > .item:hover::after,
.navbar-menu.-twitter > .item.-active::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.navbar-menu.-twitter > .item::after {
  content: '';
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.table {
	border-radius: 6px;
	background-color: #fff;
}
.table td, .table th {
	padding: 18px 25px;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
.table td, .table th {
	border-top: 2px solid #e9ecef;
}
.date-box {
	padding-left: 60px;
	padding-right: 60px;
}